*{
    text-decoration: none;
}
.container{
  max-width: 832px;  
  width: 100%;
  padding: 10px;

}
.title{
    padding: 40px;
    font-size: 25px;
}

.container-label{
   
    border-radius: 4px;
    max-width: 832px;    
    padding: 18px 16px;
    display: flex;
    justify-content: space-between;    
    margin:  auto;
}
.labelRes{
    padding-left: 100px;
}
.labelName{
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    font-size: 15px;
}

.menu{  
    color: rgb(10, 32, 140);
 margin-left: 5px,
  }
  .btn-group{
    display: flex;
    justify-content: flex-end;
  }
@media(max-width:384px){
    .title{
        font-size: 17px;
    }
    .labelName{
       
        font-size: 12px;
    }
    .labelRes{
        padding-left: 60px;
    }
}